{% extends 'base.html.twig' %}

{% block title %}Edit Posts{% endblock %}

{% block body %}
    <h1>Edit Posts</h1>
    
    <div>
        <label for="posts_author" class="required active">Author</label>
        <input type="text" id="posts_author" name="posts[author]" maxlength="255" value="{{ post.author.username }}" disabled>
    </div>
    <inpur type="text" disabled></inpur>

    {{ include('posts/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('posts_index') }}">back to list</a>

    {{ include('posts/_delete_form.html.twig') }}
{% endblock %}
