html, body {
    height: 100%;
}

body {
    /* font-family: 'IBM Plex Serif', serif; */
}
/* 
@font-face {
	font-family: "Digital";
	src: url('digital.ttf');
} */

.profile_avatar {
    width: 200px;
}

.del_form {
    display: inline-block;
}

.card-image-index {
    height: 240px;
    overflow: hidden;

    background-color: slategrey;
}

.card-image-show {
    height: 480px;
    height: 360px;
    overflow: hidden;

    background-color: slategrey;
}

.pagination-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* #post_show_cardimage {
    height:240px;
    overflow: hidden;
} */
