<form method="post" action="{{ path('bottles_delete', {'id': bottle.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bottle.id) }}">
    <button class="btn">Delete</button>
</form>
