{% extends 'base.html.twig' %}

{% block title %}Bottles index{% endblock %}

{% block body %}
<h1>Bottles you are sending</h1>

<p>By User : {{ user.username }}</p>
<p>Bottle : {{ bottle.id }}</p>

{% endblock %}
