{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>
    
    <div>
        <label for="comments_author" class="required active">Author</label>
        <input type="text" id="comments_author" name="posts[author]" maxlength="255" value="{{ comment.author.username }}" disabled>
    </div>

    {{ include('comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comments_index') }}">back to list</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
